// Horizontal bar config aligned with Scotty's global Zellij look.
copy_command "wl-copy"
default_mode "normal"
default_shell "fish"
pane_frames true
simplified_ui false
theme_dir "/var/home/scta/.config/zellij/themes"
theme "catppuccin-mocha"

ui {
    pane_frames {
        rounded_corners true
    }
}
